<div class="pure-u-1-3" style="padding: 5px;">
  <div class="challenge">
    <h3><%= link_to challenge.name, challenge_path(challenge) %></h3>
    <p><%= pluralize(challenge.members.count, 'member') %></p>
    <% if challenge.user == current_user %>
    <%= link_to 'Edit', edit_challenge_path(challenge) %>
    <% end %>
    <% if current_user %>
      <% if current_user.has_accepted_challenge? challenge %>
        <%= link_to 'Back down', challenge_entry_path(challenge, current_user.entries.detect { |e| e.challenge_id == challenge.id }), method: :delete %>
      <% else %>
        <%= simple_form_for [challenge, Entry.new(challenge_id: challenge.id)] do |f| %>
        <%= f.input :challenge_id, as: :hidden %>
        <button type="submit" class="pure-button pure-button-primary">Accept</button>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
